<div class="alert alert-success m-4 p-1" role="alert" style="height: 3rem;">
   <span style="font-size: 1.25rem;"> Congratulations! You have succesfully created an account in <a href="/">Creative Articles.</a> </span> 
   <button type="button" class="btn-close float-end m-2" style="font-size:1rem;" data-bs-dismiss="alert" aria-label="Close"></button>
</div>