*{
  max-width: 100% !important;
  margin: 0;
  padding:0;

}
body {
  font-size: 1.5em;
  font-family: 'Athiti', sans-serif;
  background-color: #ffffff;
 
}

.container {
  max-width: 100% !important;
}

a{
  text-decoration: none;
  color: black;
}
.row{
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.btn{
  border-radius:0.75rem;
}
.banner{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/banner.jpg"); 
  object-fit: cover;
  height:50rem;
  background-size: cover;


}
.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arima Madurai', cursive;
  font-size:1.5em;
  padding:1.5em;
  position: relative;
  color:#ffffff;
  opacity: 0.9;

}
.logo-title{
  color: rgb(8, 8, 8);
  font-size:2.5rem;
  font-family: 'Athiti', sans-serif;
  font-family: 'Birthstone Bounce', cursive;
}
.nav-items{
  list-style-type: none;
  margin-right: 1rem;
  display: inline-block;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
.navbar-collapse{
  display: flex;
  justify-content: center;
  transition: all 0.1s;
}
.footer{
  background-color: black;
  margin-bottom: 0;
}
.signup{
  background-color: white;
  border: 0.1px black solid;
}
.message{
  font-size: 1rem;
}
.description{
  height:10rem; 
  padding:1rem;
}
.comments{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(180, 180, 180);
}
